<div class="center">
  <button mat-raised-button color="primary" *ngIf="!showCountdown" (click)="play()">Play</button>
  <div *ngIf="showCountdown && !showPlayContainer">
    <h2>{{counter$ | async}}</h2>
  </div>
  <div *ngIf="showPlayContainer && !showResult && resData">
    <h2>Input Text : {{resData.text}}</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Please start typeing</mat-label>
        <textarea matInput placeholder="Please start typing" [value]="userText"
          (input)="onClickvalidate($event)">{{userText}}</textarea>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" [disabled]="isTextValid" (click)="finish()">Enter</button>
  </div>
  <div *ngIf="showResult">
    <h2>Result : {{resultMessage}}</h2>
  </div>
</div>